<a href="https://colab.research.google.com/github/Dongjin100/sm100/blob/master/ch04/ch4_01_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##함수

##함수 사용하는 이유?

반복되는 부분을 함수로 전환.
코딩을 모듈화

In [0]:
##def 함수명(매개변수):
 ##   <수행할 문장1>
 ##   <수행할 문장2>

In [2]:
def add(a, b): 
    return a + b
a=3
b=4
c=add(a,b)
print(c)

7

In [3]:
x=[1,2,3]
y=[4,5,6]
z=x+y
print(z)

[1, 2, 3, 4, 5, 6]

##매개변수와 인수를 차이를 이해하자

In [0]:
##def add(a, b):  # a, b는 매개변수
##    return a+b

##print(add(3, 4))  # 3, 4는 인수

##입력값과 결괏값에 따른 함수의 형태

In [0]:
##def 함수이름(매개변수):
##    <수행할 문장>
    ...
##    return 결과값

In [6]:
def add2(a, b): 
    result = a + b 
    return result
a = add2(3, 4)
print(a)

7

##입력값이 없는 함수

In [7]:
def say(): 
    return 'Hi'



a = say()
print(a)

Hi

##결과 값이 없는 함수

In [0]:
def add3(a, b): 
  print("%d, %d의 합은 %d입니다." % (a, b, a+b))

In [12]:
add3(3, 4)

3, 4의 합은 7입니다.

In [13]:
a = add3(3, 4)
print(a)

3, 4의 합은 7입니다.
None

In [17]:
def say2(): 
    print('Hi')
say()

'Hi'

##매개변수의 값을 지정하여 호출

In [0]:
def add4(a, b):
    return a+b

In [25]:
result = add4(a=3, b=7)
print(result)

10

##입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

In [0]:
def add_many(*args):
    result = 0 
    for i in args: 
        result = result + i 
    return result

In [28]:
add_many(1, 2, 3)

6

In [29]:
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [30]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

##여러개의 입력을 처리하는 함수 args

In [0]:
def add_mul(choice, *args):
    if choice == "add":
        result = 0 
        for i in args:
            result = result + i 
    elif choice == "mul":
        result = 1 
        for i in args: 
            result = result * i 
    return result

In [32]:
result = add_mul('add', 1,2,3,4,5)
print(result)

15

In [33]:
result = add_mul('mul', 1,2,3,4,5)
print(result)

120

##키워드 파라미터

In [0]:
def print_kwargs(**kwargs):
    print(kwargs)

In [35]:
print_kwargs(a=1)

{'a': 1}

In [36]:
print_kwargs(name='foo', age=3)

{'age': 3, 'name': 'foo'}

##함수의 결과값은 언제나 하나

In [0]:
def add_and_mul(a,b): 
    return a+b, a*b

In [0]:
result = add_and_mul(3,4)

In [39]:
print(result)

(7, 12)

In [0]:
result1, result2 = add_and_mul(3, 4)

In [42]:
result1, result2

(7, 12)

##잘못된 함수

In [0]:
def add_and_mul2(a,b): 
    return a+b 
    return a*b ##활동하지않는 함수

In [46]:
result = add_and_mul2(2, 3)
print(result)

5

##함수 실행 종료

In [47]:
def say_nick(nick): 
    if nick == "바보": 
        return 
    print("나의 별명은 %s 입니다." % nick)


say_nick("홍길동")
say_nick("바보")

나의 별명은 홍길동 입니다.

##매개변수에 초기값 미리 설정하기

In [0]:
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [49]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [50]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [51]:
say_myself("박응용", 27, False)

나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

##함수 안에서 선언한 변수의 효력 범위

In [0]:
a = 1
def vartest(a):
    a = a +1

In [58]:
vartest(a)
print(a)

1

In [66]:
def vartest2(z2):
    z2 = z2 + 1
vartest(3)   
print(z2)

NameError: ignored

##함수 안에서 밖의 변수를 변경하는 방법

In [67]:
a = 1 
def vartest3(a): 
    a = a +1 
    return a

a = vartest3(a) 
print(a)

2

##글로벌 명령어 사용하기

In [70]:
a = 1 
def vartest4(): 
    global a 
    a = a+1

vartest4() 
print(a)

2

##lamda함수
lambda는 함수를 생성할 때 사용하는 예약어로 def와 동일한 역할을 한다. 
 보통 함수를 한줄로 간결하게 만들 때 사용한다.

lambda 사용법

lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식

In [71]:
add = lambda a, b: a+b

result = add(3, 4)
print(result)

7

In [78]:
models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']

sorted(models, key=lambda x: x[-4:])

['N-1000', 'T-2000', 'K-3000', 'X-5000']